<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    <!-- <script>
        (function(d,t) {
          var BASE_URL="https://chat.hormuud.com";
          var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src=BASE_URL+"/packs/js/sdk.js";
          g.defer = true;
          g.async = true;
          s.parentNode.insertBefore(g,s);
          g.onload=function(){
            window.chatwootSDK.run({
              websiteToken: 'C4ijWZF61K6UAFgiCKmwcmeB',
              baseUrl: BASE_URL
            })
          }
        })(document,"script");
      </script> -->
      
    <h1>Home Page </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae facere magni iste dolores quo quibusdam, maxime voluptas. Quis, ea nesciunt ad amet, similique doloribus ratione tempora itaque corporis reiciendis eaque!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi repudiandae fugiat dignissimos sapiente quo, debitis hic labore nesciunt in quibusdam eligendi perferendis totam repellat exercitationem dicta, harum doloribus aliquid cupiditate.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem vel, maxime aspernatur explicabo debitis, eius corporis nesciunt nihil quae aperiam nostrum fugit quibusdam officia, eveniet ut? Eaque officia praesentium possimus?
    </p>

</body>
</html>