<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, user-scalable=0"
/>
<title>AsalBooks - Admin</title>

<!-- Favicon -->
<link rel="shortcut icon" href="/img/favicon.png" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css" />

<!-- Fontawesome CSS -->
<link rel="stylesheet" href="/plugins/fontawesome/css/fontawesome.min.css" />
<link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css" />

<!-- Main CSS -->
<link rel="stylesheet" href="/css/style.css" />
